    <div style="text-align: center;">
        <img src="https://www.easysolar.org/static/media/easy-logo-1.48ac0032.svg" alt="image">
    </div>
    <h4 style="text-align: center;">EasySolar SuggestionBook</h4>
    <div class="card-body">
        <p class="text-center" style="text-align: center;">Help EasySolar to Grow by Providing us with our Product
            Suggestions</p>
    </div>
    <div class="section" style="text-align: center;">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
        <h5 style="color: green;"><a href="https://joshuaportfolio.netlify.app/" target="_blank">Design and developed by
                Joshua sama charley</a></h5>
    </div>